<!doctype html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../../../web/assets/css/dev.css">
        <title>{% block title %}Moviezz{% endblock %}</title>
    </head>

    <body>

    {% block body %}
    {% endblock %}

    </body>

    <footer>
        <p>{{ webmaster }} © {{ 'now'|date('Y') }}</p>
    </footer>

</html>
